@page "/bridgeslistview/{page:int}"

@inject IBridgesService bridgesService;

@using Bridges.Interfaces

<style>
    tr:hover {
        background: salmon;
    }
</style>

<form method="post">
    <h4 style="color: whitesmoke">Edit bridges</h4>
</form>

<table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%; opacity: 0.6">
    <thead style="background-color: darkslategray; color: white" ;>
    <th><h5>Name</h5></th>
    <th><h5>Description</h5></th>
    <th><h5>Filename</h5></th>
    <th><h5>Lng</h5></th>
    <th><h5>Lat</h5></th>
    <th><h5>Zoom</h5></th>
    <th><h5>Height</h5></th>
    </thead>

    @{
        foreach (var bridge in bridgesService.GetAllBridges())
        {
            <tr>
                <td>@bridge.Name</td>
                <td>@bridge.Description</td>
                <td>@bridge.Filename</td>
                <td>@bridge.Lng</td>
                <td>@bridge.Lat</td>
                <td>@bridge.Zoom</td>
                <td>@bridge.Height</td>
            </tr>
        }
        <tr>
            <td colspan="7" style="text-align: right; vertical-align: text-top; background-color: lightgoldenrodyellow; opacity: 0.6; color: darkslategray; width: 100%">
                <p>Page: @Page</p>
            </td>
        </tr>
        <tr>
            <td colspan="7" style="text-align: right; vertical-align: text-top; background-color: lightgoldenrodyellow; opacity: 0.6; color: darkslategray; width: 100%">
                Export to:
                <button>csv</button>
                <button>txt</button>
                <button>html</button>
                <button>xml</button>
            </td>
        </tr>
    }
</table>

@code
{
    [Parameter]
    public int Page { get; set; }
}