@page "/bridgeslistview/{action}/{page:int}"

@inject IBridgesService bridgesService;

@using Bridges.Interfaces

<style>
    tr:hover {
        background: salmon;
    }

    tr {
        vertical-align: text-top;
        background-color: lightgoldenrodyellow;
        /*opacity: 0.8;*/
        color: darkslategray;
        width: 100%
    }
</style>

<table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%; opacity: 0.8;">
    <hr />
    <tr style="background-color: darkslategray; color: white" >
        <td><h6>Name</h6></td>
        <td><h6>Description</h6></td>
        <td><h6>Filename</h6></td>
        <td><h6>Lng</h6></td>
        <td><h6>Lat</h6></td>
        <td><h6>Zoom</h6></td>
        <td><h6>Height</h6></td>
        <td></td>
    </tr>

    @{
        var bridgeCount = bridgesService.GetAllBridges().Count();
        var bridgesPerPage = 15;
        var colCount = 7;

        var bridgesInRange = bridgesService.GetBridgesInRange(bridgesPerPage, (Page - 1) * bridgesPerPage);

        switch (Action.ToLowerInvariant())
        {
            case "exporttocsv":
                {
                    ExportToCsv();
                    break;
                }
            case "exporttotxt":
                {
                    ExportToTxt();
                    break;
                }
            case "exporttohtml":
                {
                    ExportToHtml();
                    break;
                }
            case "exporttoxml":
            {
                    ExportToXml();
                    break;
                }
        }

        foreach (var bridge in bridgesInRange)
        {
            <tr>
                <td>@bridge.Name</td>
                <td>@bridge.Description</td>
                <td>@bridge.Filename</td>
                <td>@bridge.Lng</td>
                <td>@bridge.Lat</td>
                <td>@bridge.Zoom</td>
                <td>@bridge.Height</td>
                <td><a href="bridgesdetaileditview/view/@bridge.Id">Edit</a></td>
            </tr>
        }
        <tr>
            <td colspan="3" style="text-align: left; background-color: darkslategray; color: blue">
                <div class="pagination">
                    @for (int i = 1; i <= (bridgeCount / bridgesPerPage) + 1; i++)
                    {
                        <span><a href="bridgeslistview/list/@i">@i</a></span>
                    }
                </div>
            </td>
            <td column="4" style="text-align: center; background-color: darkslategray; color: white;">
                <input type="button" id="btnAdd" width="50px" value="Add"
                       style="color: darkslategray;  max-width: 100px; width: 100px" />
            </td>
            <td colspan="@colCount - 4" style="text-align: right; background-color: darkslategray; color: white;">
                Export to:
                <input type="button" id="btnExportToCsv" width="50px" value="csv"
                       style="color: darkslategray; max-width: 100px; width: 100px" />
                <input type="button" id="btnExportToTxt" width="50px" value="txt"
                       style="color: darkslategray; max-width: 100px; width: 100px" />
                <input type="button" id="btnExportToHtml" width="50px" value="html"
                       style="color: darkslategray;  max-width: 100px; width: 100px" />
                <input type="button" id="btnExportToXml" width="50px" value="xml"
                       style="color: darkslategray;  max-width: 100px; width: 100px" />
            </td>
        </tr>
    }
</table>

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public int Page { get; set; }

    public void ExportToCsv()
    {
        bridgesService.ExportToCsv();
    }

    public void ExportToTxt()
    {
        bridgesService.ExportToTxt();
    }

    public void ExportToHtml()
    {
        bridgesService.ExportToHtml();
    }

    public void ExportToXml()
    {
        bridgesService.ExportToXml();
    }
}