@page "/bridgesdetailview/{name}"

@using Bridges.Services;
@using BridgesDomain.Model
@using BridgesRepo
@using BridgesRepo.Data
@using Microsoft.EntityFrameworkCore
@using Bridges.Interfaces

@{
    IBridgesService bridgesService = 
        new BridgesService(new BridgeSqlServerRepo(new BridgesDbContext(new DbContextOptions<BridgesDbContext>())));
    
    Bridge bridge = bridgesService.GetBridge(Name);

    if (bridge != null)
    {
        var lat = @bridge.Lat;
        var lng = @bridge.Lng;
        var zoom = @bridge.Zoom;
        var height = @bridge.Height;
        var satParams = "!3m1!1e3";
        var url = $"https://www.google.co.uk/maps/@{lat},{lng},{height}m/data={satParams}";

        <table class="table">
            <tr colspan="2">
                <h4 style="color: whitesmoke">@Name</h4><a href=@url> Show in maps</a>
            </tr>
            <tr>
                <td style="background-color: lightgoldenrodyellow">
                    <a href="@url">
                        <img alt="No image found for bridge with name: @Name" height="600" width="800" src="Images/Original/@bridge.Filename" />
                    </a>
                </td>
                <td style="horiz-align: left; vertical-align: text-top; background-color: lightgoldenrodyellow; opacity: 0.6; color: darkslategray; width: 100%">
                    <h6>Description</h6><a href=@url> Show in maps</a>
                    <hr />
                    <p>@bridge.Description</p>
                </td>
            </tr>
        </table>
    }
    else
    {
        <p>No bridge found for:[@Name]</p>
    }
}

@code
{
    [Parameter]
    public string Name { get; set; }
}
