@page "/bridgeseditview"

@using Bridges.Services;

<style>
       tr:hover {
        background: salmon;
    }
</style>

<form method="post">
    <h4 style="color: whitesmoke">Edit bridges</h4>
</form>

<table class=".table .thead-dark" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%; opacity: 0.6">
    <thead style="background-color: darkslategray; color: white" ;>
    <th><h5>Name</h5></th>
    <th><h5>Description</h5></th>
    <th><h5>Filename</h5></th>
    <th><h5>Lng</h5></th>
    <th><h5>Lat</h5></th>
    <th><h5>Zoom</h5></th>
    <th><h5>Height</h5></th>
    </thead>

    @{
        foreach (var bridge in new BridgesService().GetBridges)
        {
            <tr>
                <td>@bridge.Name</td>
                <td>@bridge.Description</td>
                <td>@bridge.Filename</td>
                <td>@bridge.Lng</td>
                <td>@bridge.Lat</td>
                <td>@bridge.Zoom</td>
                <td>@bridge.Height</td>
            </tr>
        }
    }
</table>
