@page "/bridgeslistview/{action}/{page:int?}/{id:int?}"

@inject IBridgesService bridgesService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    tr:hover {
        background: salmon;
    }

    tr {
        vertical-align: text-top;
        background-color: lightgoldenrodyellow;
        opacity: 0.8;
        color: darkslategray;
        width: 100%
    }
</style>

@{
    var bridgeCount = bridgesService.GetAllBridges().Count();
    var bridgesPerPage = 15;
    var colCount = 7;
    var exportedFilename = string.Empty;

    switch (Action.ToLowerInvariant())
    {
        case "delete":
        {
            Bridge bridge = bridgesService.GetBridgeById(Id);

            if (bridge != null) // This is annoying as could be called with the back button or manual url input.
            {
                bridgesService.Delete(bridge);
            }
            break;
        }
        case "exporttocsv":
        {
            exportedFilename = ExportToCsv();
            break;
        }
        case "exporttotxt":
        {
            exportedFilename = ExportToTxt();
            break;
        }
        case "exporttohtml":
        {
            exportedFilename = ExportToHtml();
            break;
        }
        case "exporttoxml":
        {
            exportedFilename = ExportToXml();
            break;
        }
    }
    <br/>
    if (Action.ToLowerInvariant().StartsWith("export"))
    {
        <img style="border: none; height: 45px; width: 45px;" src="Images/info.png"/>
        <msg>SUCCESS - Exported <a href="file:///C:/SeansStuff/Code/Bridges/Bridges/@exportedFilename">@exportedFilename</a></msg>
        <hr/>
    }

    if (Action.ToLowerInvariant() == "delete")
    {
        <img style="border: none; height: 45px; width: 45px;" src="Images/info.png"/>
        <msg>SUCCESS - Bridge @Id deleted</msg>
        <hr/>
    }

    <table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%; opacity: 0.8;">
        <tr style="background-color: darkslategray; color: white; opacity: 0.8">
            <h6>
                <td>Name</td>
                <td>Description</td>
                <td>Filename</td>
                <td>Lat</td>
                <td>Lng</td>
                <td>Zoom</td>
                <td>Height</td>
                <td></td>
            </h6>
        </tr>

        @foreach (var bridge in bridgesService.GetBridgesInRange(bridgesPerPage, (Page - 1) * bridgesPerPage))
        {
            <tr>
                <td>@bridge.Name</td>
                <td>@bridge.Description</td>
                <td>@bridge.Filename</td>
                <td>@bridge.Lat</td>
                <td>@bridge.Lng</td>
                <td>@bridge.Zoom</td>
                <td>@bridge.Height</td>
                <td><a href="bridgesdetaileditview/view/@bridge.Id">Edit</a></td>
            </tr>
        }
        <tr>
            <td colspan="3" style="text-align: left; background-color: darkslategray; color: blue">
                <div class="pagination">
                    @for (var i = 1; i <= (bridgeCount / bridgesPerPage) + 1; i++)
                    {
                        <span><a href="bridgeslistview/list/@i">@i</a></span>
                    }
                </div>
            </td>
            <td column="4" style="text-align: center; background-color: darkslategray; color: white;">
                <input type="button" id="btnAdd" onclick="AddBridge();" width="50px" value="Add"/>
            </td>
            <td colspan="@colCount - 4" style="text-align: right; background-color: darkslategray; color: white;">
                Export to:
                <input type="button" id="btnExportToCsv" onclick="ExportToCsv();" value="csv"/>
                <input type="button" id="btnExportToTxt" onclick="ExportToTxt();" value="txt"/>
                <input type="button" id="btnExportToHtml" onclick="ExportToHtml();" value="html"/>
                <input type="button" id="btnExportToXml" onclick="ExportToXml();" value="xml"/>
            </td>
        </tr>
    </table>
}

@code
{
        [Parameter]
        public string Action { get; set; }

        [Parameter]
        public int Id { get; set; }

        [Parameter]
        public int Page { get; set; }

        public string ExportToCsv()
        {
            return bridgesService.ExportToCsv();
        }

        public string ExportToTxt()
        {
            return bridgesService.ExportToTxt();
        }

        public string ExportToHtml()
        {
            return bridgesService.ExportToHtml();
        }

        public string ExportToXml()
        {
            return bridgesService.ExportToXml();
        }
    }