@page "/bridgesview/{colcount:int}/{page:int}"

@inject IBridgesService bridgesService;

@using Bridges.Interfaces

<style>
    img:hover {
        box-shadow: 0 0 2px 1px salmon;
        zoom: 1.5;
    }
</style>

<table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%;">
    <hr />
    <tr>
        @if (Colcount != 0)
        {
            var i = 1;

            var bridgeCount = bridgesService.GetAllBridges().Count();
            var imagesPerPage = 16;

            <tr>
                <td colspan="@Colcount" style="text-align: left; background-color: darkslategray; color: white; opacity: 0.8;">
                    <h6 style="color: whitesmoke">Bridges</h6>
                </td>
            </tr>

            foreach (var bridge in bridgesService.GetBridgesInRange(imagesPerPage, (Page - 1) * imagesPerPage))
            {
                <td style="horiz-align: center; vertical-align: center; background-color: lightgoldenrodyellow; color: darkslategray;">
                    <a href="bridgesdetailview/@bridge.Name">
                        <h6>@bridge.Name</h6>
                        <img alt="No image found for @bridge.Name with Filename: @bridge.Filename" title="@bridge.Description" src="Images/Thumbs/@bridge.Filename" />
                    </a>
                </td>

                if (i % Colcount == 0)
                {
                    @:</tr>
                    @:<tr>
                }

                    i++;
            }
            <tr>
                <td colspan="@Colcount" style="text-align: left; background-color: darkslategray; color: white; opacity: 0.8;">
                    <div class="pagination">
                        @for (i = 1; i <= (bridgeCount / imagesPerPage) + 1; i++)
                        {
                            <span><a href="bridgesview/@Colcount/@i">@i</a></span>
                        }
                    </div>
                </td>
            </tr>
        }
        </tr>
    </table>

@code
{
    [Parameter]
    public int Colcount { get; set; }
    
    [Parameter]
    public int Page { get; set; }
}