@page "/bridgesdetailview/{action}/{id:int}/{name?}/{filename?}/{desc?}/{lat:decimal?}/{lng:decimal?}/{zoom:decimal?}/{height:decimal?}"
@inject IBridgesService bridgesService;

@using BridgesDomain.Model
@using Bridges.Interfaces

@{
    Bridge bridge = null;

    if (!string.IsNullOrEmpty(Action))
    {
        switch (Action.ToLowerInvariant())
        {
            case "add":
                {
                    bridge = new Bridge(Name, Filename, Desc, Lat, Lng, Zoom, Height);

                    bridgesService.Add(bridge);

                    break;
                }
            case "update":
                {
                    bridge = bridgesService.GetBridgeById(Id);
                    bridge.Name = Name;
                    bridge.Filename = Filename;
                    bridge.Description = Desc;
                    bridge.Lat = Lat;
                    bridge.Lng = Lng;
                    bridge.Zoom = Zoom;
                    bridge.Height = Height;

                    bridgesService.Update(bridge);

                    break;
                }
            case "delete":
                {
                    bridge = bridgesService.GetBridgeById(Id);
                    bridgesService.Delete(bridge);

                    bridge = null;

                    break;
                }
            default:
                {
                    bridge = bridgesService.GetBridgeById(Id);

                    break;
                }
        }
    }
    else
    {
        bridge = bridgesService.GetBridgeById(Id);
    }

    if (bridge != null)
    {
        var lat = @bridge.Lat;
        var lng = @bridge.Lng;
        var zoom = @bridge.Zoom;
        var height = @bridge.Height;
        var satParams = "!3m1!1e3";
        var url = $"https://www.google.co.uk/maps/@{lat},{lng},{height}m/data={satParams}";

        <table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%;">
            <hr />
            <tr>
                <td colspan="2" style="text-align: left; background-color: darkslategray; color: white; opacity: 0.8;">
                    <h6 style="color: whitesmoke">@bridge.Name<a href=@url> Show in maps</a></h6>
                </td>
            </tr>
            <tr>
                <td style="background-color: lightgoldenrodyellow">
                    <a href="Images/Original/@bridge.Filename">
                        <img alt="No image found for bridge with name: @bridge.Name" height="600" width="800" src="Images/Original/@bridge.Filename" />
                    </a>
                </td>
                <td style="horiz-align: left; vertical-align: text-top; background-color: lightgoldenrodyellow; color: darkslategray; width: 100%">
                    <h6>Description</h6><a href=@url> Show in maps</a>
                    <hr />
                    <p>@bridge.Description</p>
                    <hr />
                    <p>Lat: @bridge.Lat.ToString("#.#######")</p>
                    <p>Lng: @bridge.Lng.ToString("#.#######")</p>
                    <p>Zoom (for google maps) :@bridge.Zoom.ToString("#.##")</p>
                    <p>Height (for google maps) :@bridge.Height.ToString("#.##")</p>
                    <a href="bridgesdetaileditview/view/@bridge.Id"><p>Edit</p></a>
                </td>
            </tr>
        </table>
    }
    else
    {
        <p>No bridge found for bridge with Id: @Id</p>
    }
}

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Filename { get; set; }
    [Parameter]
    public string Desc { get; set; }
    [Parameter]
    public decimal Lat { get; set; }
    [Parameter]
    public decimal Lng { get; set; }
    [Parameter]
    public decimal Zoom { get; set; }
    [Parameter]
    public decimal Height { get; set; }
}
