@page "/bridgesdetailview/{action}/{id:int}/{name?}/{filename?}/{desc?}/{lat:decimal?}/{lng:decimal?}/{zoom:decimal?}/{height:decimal?}"

@inject IBridgesService bridgesService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

@{
    Bridge bridge = null;
    var msgText = string.Empty;

    if (!string.IsNullOrEmpty(Action))
    {
        switch (Action.ToLowerInvariant())
        {
            case "update":
                {
                    bridge = bridgesService.GetBridgeById(Id);
                    if (bridge == null) // Assumes add bridge
                    {
                        bridge = new Bridge(Name, Filename, Desc, Lat, Lng, Zoom, Height);

                        bridgesService.Add(bridge);

                        msgText = $"SUCCESS - Bridge Id: {@bridge.Id} added";
                    }
                    else
                    {
                        bridge.Name = Name;
                        bridge.Filename = Filename;
                        bridge.Description = Desc;
                        bridge.Lat = Lat;
                        bridge.Lng = Lng;
                        bridge.Zoom = Zoom;
                        bridge.Height = Height;

                        bridgesService.Update(bridge);

                        msgText = $"SUCCESS - Bridge Id: {@bridge.Id} updated";
                    }
                    break;
                }
            default:
                {
                    bridge = bridgesService.GetBridgeById(Id);
                    break;
                }
        }
    }
    else
    {
        bridge = bridgesService.GetBridgeById(Id);
    }

    if (bridge != null)
    {
        var lat = @bridge.Lat;
        var lng = @bridge.Lng;
        var zoom = @bridge.Zoom;
        var height = @bridge.Height;
        var satParams = "!3m1!1e3";
        var url = $"https://www.google.co.uk/maps/@{lat},{lng},{height}m/data={satParams}";

        <br/>
        @if (!string.IsNullOrEmpty(msgText))
        {
            <img style="border: none; height: 45px; width: 45px;" src="Images/info.png"/>
            <msginfo>@msgText</msginfo>
            <hr />
        }

<table>
    <thead>
        <th colspan="2">
            <h6>@bridge.Name<a href=@url> Show in maps</a></h6>
        </th>
    </thead>
    <tr>
        <td>
            <a href="Images/Original/@bridge.Filename">
                <img alt="No image found for bridge with name: @bridge.Name" height="600" width="800" src="Images/Original/@bridge.Filename" />
            </a>
        </td>
        <td>
            <h6>Description<a href=@url>    Show in maps</a></h6>
            <hr />

            <p>@bridge.Description</p>
            <hr />
            <table>
                <tr><td>Lat</td><td>@bridge.Lat.ToString("#.#######")</td></tr>
                <tr><td>Lng</td><td>@bridge.Lng.ToString("#.#######")</td></tr>
                <tr><td></td><td>@bridge.Zoom.ToString("#.##")</td></tr>
                <tr><td></td><td>@bridge.Height.ToString("#.##")</td></tr>
            </table>
            <hr />

            <a href="bridgesdetaileditview/view/@bridge.Id">
                <p>Edit</p>
            </a>
        </td>
    </tr>
</table>
    }
    else
    {
        <p>No bridge found for bridge with Id: @Id</p>
    }
}

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Filename { get; set; }
    [Parameter]
    public string Desc { get; set; }
    [Parameter]
    public decimal Lat { get; set; }
    [Parameter]
    public decimal Lng { get; set; }
    [Parameter]
    public decimal Zoom { get; set; }
    [Parameter]
    public decimal Height { get; set; }
}
