@page "/bridgesdetaileditview/{action}/{id:int?}"

@inject IBridgesService bridgesService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    input {
        width: 600px;
    }

    td {
        opacity: 0.9;
    }
</style>

@{
    Bridge bridge = null;

    bridge = Action.ToLowerInvariant() == "add" ? new Bridge() : bridgesService.GetBridgeById(Id);

    if (bridge != null)
    {
        var lat = @bridge.Lat;
        var lng = @bridge.Lng;
        var zoom = @bridge.Zoom;
        var height = @bridge.Height;

        <br/>
        <table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%;">
            <tr>
                <td>
                    <a href="Images/Original/@bridge.Filename">
                        <img alt="No image found for bridge with Id: @bridge.Id" height="600px" width="800px" src="Images/Original/@bridge.Filename" style="opacity: 1.0;" />
                    </a>
                </td>
                <td>
                    <table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%;">
                        <tr>
                            <td><label>Id</label></td>
                            <td><input type="text" readonly="true" id="inputId" name="name" value="@bridge.Id"/></td>
                        </tr>
                        <tr>
                            <td><label>Name</label></td>
                            <td><input type="text" id="inputName" name="name" value="@bridge.Name"/></td>
                        </tr>
                        <tr>
                            <td><label>Filename</label></td>
                            <td><input type="text" id="inputFilename" name="filename" value="@bridge.Filename"/></td>
                        </tr>
                        <tr>
                            <td><label>Description</label></td>
                            <td><textarea id="inputDesc" style="width: 600px; height: 100px;">@bridge.Description</textarea></td>

                        </tr>
                        <tr>
                            <td><label>Lat</label></td>
                            <td><input type="text" id="inputLat" name="desc" value="@bridge.Lat.ToString("#.######")"/></td>
                        </tr>
                        <tr>
                            <td><label>Lng</label></td>
                            <td><input type="text" id="inputLng" name="lng" value="@bridge.Lng.ToString("#.######")"/></td>
                        </tr>
                        <tr>
                            <td><label>Zoom</label></td>
                            <td><input type="text" id="inputZoom" name="zoom" value="@bridge.Zoom.ToString("#.##")"/></td>
                        </tr>
                        <tr>
                            <td><label>Height</label></td>
                            <td><input type="text" id="inputHeight" name="height" value="@bridge.Height.ToString("#.##")"/></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right; horiz-align: right; background-color: darkslategray; color: white;">
                                <input type="button" id="btnUpdate" onclick="UpdateBridge();" value="Update" />
                                <input type="button" id="btnDelete" onclick="DeleteBridge();" value="Delete" style="background-color: red"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
    else
    {
        <p>No bridge found for bridge with Id: @Id</p>
    }
}

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public int Id { get; set; }
}
