@page "/bridgesdetaileditview/{action}/{id:int?}"

@inject IBridgesService bridgesService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    input {
        width: 650px;
    }

    img:hover {
        box-shadow: 0 0 2px 1px darkslategray);
    }
</style>

@{
    Bridge bridge = Action.ToLowerInvariant() == "add" ? new Bridge() : bridgesService.GetBridgeById(Id);

    if (bridge != null)
    {
        var satParams = "!3m1!1e3";
        var url = $"https://www.google.co.uk/maps/@{@bridge.Lat},{@bridge.Lng},{@bridge.Height}m/data={satParams}";

        <br/>
        <table>
            <thead>
             <h6>
                <th colspan="2">@bridge.Name</th>
            </h6>
            </thead>
            <tr style="background-color: @bridgesService.GetHexColor(@bridge.DistanceToMouthMiles)">
                <td style="width: 40%;">
                    <img id="imgBridge" alt="No image" height="600px" width="800px" src="Images/Original/@bridge.Filename" />
                </td>
                <td>
                    <table>
                        <tr>
                            @*<td><label>Id</label></td>*@
                            <input type="hidden" id="inputId" name="id" value="@bridge.Id"/>
                        </tr>
                        <tr>
                            <td><label>Name</label></td>
                            <td><input type="text" id="inputName" name="name" value="@bridge.Name" /></td>
                        </tr>
                        <tr>
                            <td><label>File to upload</label></td>
                            <td>
                                <input type="file" id="fileToUpload"><br />
                                <input type="button" id="btnfileToUpload" value="Upload" onclick="UploadFile(fileToUpload.files[0]);";>
                                <br />
                            </td>
                        </tr>
                        @*<tr>
                            <td><label>Filename</label></td>*@
                            <input type="hidden" id="inputFilename" name="filename" value="@bridge.Filename"/>
                        @*</tr>*@
                        <tr>
                            <td><label>Description</label></td>
                            <td><textarea id="inputDesc" style="height: 150px;">@bridge.Description</textarea></td>
                        </tr>
                        <tr>
                            <td><label>Lat</label></td>
                            <td><input type="text" id="inputLat" name="lat" value="@bridge.Lat.ToString("#.######")"/></td>
                        </tr>
                        <tr>
                            <td><label>Lng</label></td>
                            <td><input type="text" id="inputLng" name="lng" value="@bridge.Lng.ToString("#.######")"/></td>
                        </tr>
                        <tr>
                            <td><label>Distance To Mouth (miles)</label></td>
                            <td><input type="text" id="distToMouthId" name="distToMouth" readonly="true" value=@bridge.DistanceToMouthMiles.ToString("#.##")/></td>
                        </tr>
                        <tr>
                            <td><label>Distance To Source (miles)</label></td>
                            <td><input type="text" id="distFromSourceId" name="distToMouth" readonly="true" value=@bridge.DistanceFromSourceMiles.ToString("#.##")/></td>
                        </tr>
                        <tr>
                            <td><label>Source - Mouth</label></td>
                            <td><progress value="@bridge.DistanceFromSourceMiles" max="57" style="width: 100%; height: 50px;"></progress></td>
                        </tr> 
                        <tr>
                            <td><label>Zoom (maps)</label></td>
                            <td><input type="text" id="inputZoom" name="zoom" value="@bridge.Zoom.ToString("#.##")"/></td>
                        </tr>
                        <tr>
                            <td><label>Height (maps)</label></td>
                            <td><input type="text" id="inputHeight" name="height" value="@bridge.Height.ToString("#.##")"/></td>
                        </tr>
                        <tr>
                            <td><label>Last modified</label></td>
                            <td><input type="text" id="lastModified" name="height" value="@bridge.LastModified.ToString("dd/MM/yyyy HH:mm")" /></td>
                        </tr>
                        <tfoot>
                        <th colspan="2" style="text-align: right;">
                            <a href="@url" target="_blank"><img src="Images/maps-icon.jfif" style="width: 32px; height: 32px; horiz-align: center;" /></a>
                            <img src="Images/D-icon.png" style="width: 32px; height: 32px; horiz-align: center;" onclick="DeleteBridge(inputId.value); "/>
                            <img src="Images/S-icon.png" style="width: 32px; height: 32px; horiz-align: center;"
                                 onclick="UpdateBridge(inputId.value, inputName.value, inputFilename.value, inputDesc.value, inputLat.value, inputLng.value, inputZoom.value, inputHeight.value, fileToUpload);"/>
                        </th>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    }
    else
    {
        <p>No bridge found for bridge with Id: @Id</p>
    }
}

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public int Id { get; set; }
}
