@page "/bridgeslistview/{page:int}"

@inject IBridgesService bridgesService;

@using Bridges.Interfaces

<style>
    tr:hover {
        background: salmon;
    }

    tr {
        vertical-align: text-top;
        background-color: lightgoldenrodyellow;
        /*opacity: 0.8;*/
        color: darkslategray;
        width: 100%
    }
</style>

<table class="table" style="background-color: lightgoldenrodyellow; color: darkslategray; width: 100%; opacity: 0.8;">
    <hr />
    <tr style="background-color: darkslategray; color: white" >
        <td><h6>Name</h6></td>
        <td><h6>Description</h6></td>
        <td><h6>Filename</h6></td>
        <td><h6>Lng</h6></td>
        <td><h6>Lat</h6></td>
        <td><h6>Zoom</h6></td>
        <td><h6>Height</h6></td>
        <td></td>
    </tr>

    @{
        var bridgeCount = bridgesService.GetAllBridges().Count();
        var bridgesPerPage = 15;
        var colCount = 7;

        foreach (var bridge in bridgesService.GetBridgesInRange(bridgesPerPage, (Page - 1) * bridgesPerPage))
        {
            <tr>
                <td>@bridge.Name</td>
                <td>@bridge.Description</td>
                <td>@bridge.Filename</td>
                <td>@bridge.Lng</td>
                <td>@bridge.Lat</td>
                <td>@bridge.Zoom</td>
                <td>@bridge.Height</td>
                <td><a href="bridgesdetaileditview/@bridge.Id">Edit</a></td>
            </tr>
        }
        <tr>
            <td colspan="3" style="text-align: left; background-color: darkslategray; color: blue">
                <div class="pagination">
                    @for (int i = 1; i <= (bridgeCount / bridgesPerPage) + 1; i++)
                    {
                        <span><a href="bridgeslistview/@i">@i</a></span>
                    }
                </div>
            </td>
            <td colspan="@colCount - 3" style="text-align: right; background-color: darkslategray; color: white;">
                Export to:
                <button>csv</button>
                <button>txt</button>
                <button>html</button>
                <button>xml</button>
            </td>
        </tr>
    }
</table>

@code
{
    [Parameter]
    public int Page { get; set; }

    public void ExportToCsv()
    {
        bridgesService.ExportToCsv();
    }
}