@page "/bridgesdetaileditview/{action}/{id:int?}"

@inject IBridgesService bridgesService;

@using BridgesDomain.Model
@using BridgesService.Interfaces

<style>
    input {
        width: 650px;
    }

    img {
        width: 32px;
        height: 32px;
        border: none;
        horiz-align: center;
    }

    img:hover {
        box-shadow: 0 0 2px 1px darkslategray);
    }
</style>

@{
    Bridge bridge = Action.ToLowerInvariant() == "add" ? new Bridge() : bridgesService.GetBridgeById(Id);

    if (bridge != null)
    {
        <br/>
        <table>
            <thead>
             <h6>
                <th colspan="2">@bridge.Name</th>
            </h6>
            </thead>
            <tr style="background-color: @bridgesService.GetHexColor(@bridge.DistanceToMouthKm)">
                <td style="width: 40%;">
                    <img id="imgBridge" alt="No image" height="600px" width="800px" src="Images/Original/@bridge.Filename" />
                </td>
                <td>
                    <table>
                        <tr>
                            @*<td><label>Id</label></td>*@
                            <input type="hidden" id="inputId" name="id" value="@bridge.Id"/>
                        </tr>
                        <tr>
                            <td><label>Name</label></td>
                            <td><input type="text" id="inputName" name="name" value="@bridge.Name" /></td>
                        </tr>
                        <tr>
                            <td><label>File to upload</label></td>
                            <td>
                                <input type="file" id="fileToUpload"><br />
                                <input type="button" id="btnfileToUpload" value="Upload" onclick="UploadFile(fileToUpload.files[0]);";>
                                <br />
                            </td>
                        </tr>
                        @*<tr>
                            <td><label>Filename</label></td>*@
                            <input type="hidden" id="inputFilename" name="filename" value="@bridge.Filename"/>
                        @*</tr>*@
                        <tr>
                            <td><label>Description</label></td>
                            <td><textarea id="inputDesc" style="height: 150px;">@bridge.Description</textarea></td>
                        </tr>
                        <tr>
                            <td><label>Lat</label></td>
                            <td><input type="text" id="inputLat" name="lat" value="@bridge.Lat.ToString("#.######")"/></td>
                        </tr>
                        <tr>
                            <td><label>Lng</label></td>
                            <td><input type="text" id="inputLng" name="lng" value="@bridge.Lng.ToString("#.######")"/></td>
                        </tr>
                        <tr>
                            <td><label>Distance To Mouth (Km)</label></td>
                            <td><input type="text" id="distToMouthId" name="distToMouth" value=@bridge.DistanceToMouthKm.ToString("#.##")/></td>
                        </tr>
                        <tr>
                            <td><label>Distance To Source (Km)</label></td>
                            <td><input type="text" id="distFromSourceId" name="distToMouth" value=@bridge.DistanceFromSourceKm.ToString("#.##")/></td>
                        </tr>
                        <tr>
                            <td><label>Zoom</label></td>
                            <td><input type="text" id="inputZoom" name="zoom" value="@bridge.Zoom.ToString("#.##")"/></td>
                        </tr>
                        <tr>
                            <td><label>Height</label></td>
                            <td><input type="text" id="inputHeight" name="height" value="@bridge.Height.ToString("#.##")"/></td>
                        </tr>
                        <tr>
                            <td><label>Last modified</label></td>
                            <td><input type="text" id="lastModified" name="height" value="@bridge.LastModified.ToString("dd/MM/yyyy HH:mm")" /></td>
                        </tr>
                        <tfoot>
                        <th colspan="2" style="text-align: right;">
                            <img src="Images/D-icon.png"
                                 onclick="DeleteBridge(inputId.value);"
                                 style="background-color: red;" />
                            <img src="Images/S-icon.jfif"
                                 onclick="UpdateBridge(
                                    inputId.value,
                                    inputName.value,
                                    inputFilename.value,
                                    inputDesc.value,
                                    inputLat.value,
                                    inputLng.value,
                                    inputZoom.value,
                                    inputHeight.value,
                                    fileToUpload);" />
                        </th>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </table>
    }
    else
    {
        <p>No bridge found for bridge with Id: @Id</p>
    }
}

@code
{
    [Parameter]
    public string Action { get; set; }

    [Parameter]
    public int Id { get; set; }
}
